:root {
  /* Custom */
  --primary: #0369a1;
  --secondary: #0284c7;
  --accent: #f6bf4d;

  --primary-50: #e6f0f6ff;
  --primary-100: #b1d1e2ff;
  --primary-200: #8bbad4ff;
  --primary-300: #569bc0ff;
  --primary-400: #3587b4ff;
  --primary-500: #0369a1ff;
  --primary-600: #036093ff;
  --primary-700: #024b72ff;
  --primary-800: #023a59ff;
  --primary-900: #012c44ff;
  --secondary-50: #e6f3f9ff;
  --secondary-100: #b1d9eeff;
  --secondary-200: #8bc6e5ff;
  --secondary-300: #55add9ff;
  --secondary-400: #359dd2ff;
  --secondary-500: #0284c7ff;
  --secondary-600: #0278b5ff;
  --secondary-700: #015e8dff;
  --secondary-800: #01496dff;
  --secondary-900: #013754ff;

  --linear: #27407dff;
  --radius: 0.625rem;
}

@theme inline {
  --font-sans: "Inter Variable", sans-serif;

  --color-background: var(--color-white);
  --color-foreground: var(--color-neutral-950);
  --color-card: var(--color-white);
  --color-card-foreground: var(--color-neutral-950);
  --color-popover: var(--color-white);
  --color-popover-foreground: var(--color-neutral-950);
  --color-primary: var(--primary-500);
  --color-primary-linear: var(--linear);
  --color-primary-foreground: var(--primary-50);
  --color-secondary: var(--secondary-500);
  --color-secondary-foreground: var(--secondary-50);
  --color-muted: var(--color-neutral-100);
  --color-muted-foreground: var(--color-neutral-500);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--color-neutral-900);
  --color-warning: var(--color-amber-50);
  --color-warning-foreground: var(--color-amber-500);
  --color-success: var(--color-green-50);
  --color-success-foreground: var(--color-green-500);
  --color-destructive: var(--color-red-600);
  --color-destructive-foreground: var(--color-red-50);
  --color-info: var(--color-blue-50);
  --color-info-foreground: var(--color-blue-500);
  --color-border: var(--color-neutral-200);
  --color-border-accent: var(--color-neutral-50);
  --color-input: var(--color-neutral-200);
  --color-ring: var(--primary-500);
  --color-chart-1: var(--color-blue-500);
  --color-chart-2: var(--color-blue-600);
  --color-chart-3: var(--color-blue-700);
  --color-chart-4: var(--color-blue-800);
  --color-chart-5: var(--color-blue-900);
  --color-sidebar: var(--color-white);
  --color-sidebar-foreground: var(--color-neutral-950);
  --color-sidebar-primary: var(--primary-500);
  --color-sidebar-primary-foreground: var(--color-neutral-50);
  --color-sidebar-accent: var(--color-neutral-100);
  --color-sidebar-accent-foreground: var(--color-neutral-900);
  --color-sidebar-border: var(--color-neutral-300);
  --color-sidebar-ring: var(--primary-500);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);

  --color-linear: var(--linear);
}